@import "tailwindcss";

@theme {
  --radius: 0.5rem;
  --color-dark-gray: #202123;
  --color-medium-gray: #343541;
  --color-light-gray: #444654;
  --color-light-darker: #343540;
  --color-darker: #444654;
  --color-soft-darker: #9a9b9f;
  --color-pele-gray: #c5c5d1;
  --color-off-white: #ececf1;
  --color-dark-green: #0fa47f;
  --color-tele-green: #00897b;
  --color-light-green: #8dcdb8;
  --color-purple: #5536da;
}
@layer base {
  /* leftsider bar scroll style */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #222;
  }

  /* WebKit-based styling */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #222;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }
}
